@font-face {
    font-family: 'Avenir Next';
}

body {
    font-family: 'AvenirNextLTPro-Regular';
}

.background {
    background: url('images/pamgiaBG.png') no-repeat;
    height: 100%;
    width: 100%;
}

.navbar {
    padding: 25px 2% !important;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bolder;
    font-size: 25px;
    color: #fff !important;
}

.main-container {
    display: flex;
    height: 750px;
    align-items: flex-end;
}

.left-container {
    color: #fff;
    padding: 11% 4%;
}

.line {
    height: 10px;
    width: 80px;
    background-color: #50b893;
}

.theme-title {
    font-size: 36px;
    font-weight: bolder;
}

.acesso-interno {
    font-size: 20px;
    font-weight: bolder;
}

.theme-description {
    font-size: 18px;
}

.item {
    background-color: aqua;
    height: 300px;
    width: 300px;
}

.theme-btn {
    transition: 0.4s ease-in-out;
    background-color: #fff !important;
    border-radius: 30px;
    border: 0px solid #fff;
    color: #414141;
    margin-top: 10%;
    padding: 12px;
    width: 350px;
    font-weight: 600;
}

.theme-btn:hover {
    transition: 0.4s ease-in-out;
    background-color: #50b893 !important;
    border-radius: 30px;
    color: #fff;
}

.image-card-active {
    border: 4px solid #ffff;
    border-radius: 20px;
    height: 350px;
    width: 250px;
}

.image-card {
    border: 0px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    height: 350px;
    width: 250px;
}

.owl-stage {
    margin-left: -175px !important;
}

.card-title {
    align-self: flex-end;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    bottom: 75px;
}

.image {
    height: 100%;
    width: 100%;
    filter: brightness(0.27);
    border-radius: 16px;
}

.image-card-active .image {
    filter: none !important;
}

.bottom-container {
    padding-top: 2%;
    margin-left: 3%;
    display: flex;
    align-items: center;
}

.slider-arrows {
    width: 10%;
    color: #fff;
    height: 55px;
    display: flex;
    margin-right: 2%;
    flex-direction: row;
}

.owl-dots {
    display: none !important;
}

.arrows {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 10px;
    margin: 3.5% 5.5%;
    width: 100%;
    fill: #fff;
    cursor: pointer;
}

.slider-bar {
    height: 2.5px;
    width: 60%;
    background-color: #fff;
}

.slider-progress {
    background-color: #50b893;
    width: 0px;
    height: 2.5px;
}

.slider-number {
    color: #fff;
    font-size: 60px;
    font-weight: bolder;
    margin: 0 2%;
}

@media screen and (min-width: 330px) and (max-width: 500px) {
    .main-container {
        flex-flow: wrap;
    }
    .left-container {
        line-height: 1.3;
    }
    .theme-title {
        font-size: 25px;
    }
    .theme-description {
        font-size: 19px;
    }
    .owl-stage {
        margin-left: 0 !important;
    }
    .image-card {
        border: 0px solid #fff;
        border-radius: 20px;
        cursor: pointer;
        height: 280px;
        width: 180px;
    }
    .image-card-active {
        border: 4px solid #ffff;
        border-radius: 20px;
        height: 280px;
        width: 180px;
    }
    .card-title {
        font-size: 16px;
    }
    .bottom-container {
        margin-left: 0.5%;
        position: relative;
    }
    .slider-arrows {
        display: none;
    }
    .slider-bar {
        height: 6.5px;
        width: 12%;
    }
    .slider-progress {
        height: 6.5px;
    }
    .slider-number {
        font-size: 50px;
        margin: 0 1%;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1590px) {
    .image-card-active {
        border: 4px solid #ffff;
        border-radius: 20px;
        height: 40vh;
        width: 15vw;
    }
    .image-card {
        border-radius: 20px;
        height: 40vh;
        width: 15vw;
    }
    .arrows {
        padding: 7px;
        margin: 9.5% 3.5%;
    }
    .left-container {
        padding: 27vh 4vw;
    }
    .right-container {
        padding: 15vh 0vw;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1590px) {
    .image-card-active {
        border: 4px solid #ffff;
        border-radius: 20px;
        height: 40vh;
        width: 15vw;
    }
    .image-card {
        border-radius: 20px;
        height: 40vh;
        width: 15vw;
    }
    .arrows {
        padding: 7px;
        margin: 9.5% 3.5%;
    }
    .left-container {
        padding: 27vh 4vw;
    }
    .right-container {
        padding: 15vh 0vw;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1590px) {
    .image-card-active {
        border: 4px solid #ffff;
        border-radius: 20px;
        height: 40vh;
        width: 15vw;
    }
    .image-card {
        border-radius: 20px;
        height: 40vh;
        width: 15vw;
    }
    .arrows {
        padding: 7px;
        margin: 9.5% 3.5%;
    }
    .left-container {
        padding: 27vh 4vw;
    }
    .right-container {
        padding: 15vh 0vw;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    .image-card-active {
        border: 4px solid #ffff;
        border-radius: 20px;
        height: 40vh;
        width: 15vw;
    }
    .image-card {
        border-radius: 20px;
        height: 40vh;
        width: 15vw;
    }
    .slider-arrows {
        width: 8vw;
        height: 70px;
    }
    .arrows {
        padding: 7px;
        margin: 8.5% 4.5%;
    }
    .left-container {
        padding: 21vh 4vw;
    }
    .right-container {
        padding: 6vh 0vw;
    }
}